* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

a {
  font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #006bed;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
  font-family: "Open Sans", sans-serif;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
  font-family: "Open Sans", sans-serif;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
  font-family: "Open Sans", sans-serif;
	outline: none;
	border: none;
}

textarea {
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

button {
  font-family: "Open Sans", sans-serif;
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  margin-bottom: 30px;
  color: #006bed;
}

.txt1 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  margin-right: 5px;
}

.txt2 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #666666;
}

.limiter {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.container-login, .chat-page {
  width: 100%;  
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
}

.wrap-login {
  width: 960px;
  width: 500px;
  height: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chat-container {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info {
  flex: 1;
  background-color: #f3f6fd;
  height: 100%;
}
.chat {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f6fd;
}

.navbar-container, .chatheader-container {
  display: flex;
  align-items: center;
  height: 130px;
}


.chatheader-container {
  background-color: #f3f6fd;
  width: 95%;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.user-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.user-container img {
  margin-left: 18px;
  margin-right: 10px;
  width: 85px;
  border-radius: 50px;
}

.username {
  font-size: 25px;
  color:  #0a0a0a;
  width: 100%;
}

.logout-button-continainer {
  display: flex;
  justify-content: end;
  width: 100%;
}
.user-container button {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #3498db;
}

.search-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
  background-color: #f3f6fd;
  position: relative;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}



.search-input-container {
  display: flex;
  width: 100%;
  height: 50px;
}


.search-user img {
  width: 60px;
}

.search-user {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  border-bottom: #c7c7c7 1px solid;
}

.search-user h1 {
  margin-left: 10px;
}

.search-user:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.close {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.close:hover {
  cursor: pointer;
}
#search {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding-left: 42px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.search-input-container .material-symbols-outlined {
  display: flex;
  position: absolute;
  color: #838181;
  margin: 15px 0 0 10px;
}

.contact-limiter-container {
  height: 500px;
  overflow: scroll;
  padding-bottom: 10px;
}

.contact-container {
  display: flex;
  align-items: center;
  height: 90px;
  position: relative;
}

.contact-container:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}


.contact-container img {
  width: 60px;
  margin-left: 18px;
  margin-right: 10px;
  border-radius: 30px;
}
.user-name-text {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #0a0a0a;
}

.text-time {
  position: absolute;
  right: 0;
  top: 32px;
  margin-right: 20px;
}

.chatheader-container {
  position: relative;
  padding-left: 30px;
}

.status-color {
  position: absolute;
  right: 54.6rem;
  bottom: 11px;
  width: 14px;
  height: 14px;
  background-color: #5bdb45;
  border-radius: 20px;
}

.chatheader-container .user-name-text {
  font-size: 14px;
  margin-left: 10px;
}

.chatheader-container img {
  width: 80px;
  margin-left: 18px;
  margin-right: 10px;
  border-radius: 50px;
}

.text-bar {
  width: 95%;
  /*height: 34.2rem;*/
  height: 470px;
  position: relative;
  margin: 20px 0 0px 0;
  overflow-y: auto;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50px;
  background-color: #f3f6fd;
  border-radius: 25px;
  padding-top: 8px;
}

.input-container input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 25px ;
  padding: 0 25px 0 25px;
  font-size: 18px;
  margin-right: 10px;
  word-break: break-all;
  overflow-y: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.send-button {
  width: 50px;
  height: 50px;
  background-color: #006bed;
  border-radius: 70px;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.send-button:hover {
  background-color: #023f8a;
}

.send-button .material-symbols-outlined {
  position: absolute;
  left: 9px;
  font-size: 35px;
  color: #ffffff;
}

.message-container {
  position: relative;
  margin: 30px 0px 0px 0px;
}


.info-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.text-container {
  width: 50rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 40px - 100px;
  background-color: #006bed;
  padding: 10px 20px 10px 20px;
  border-radius: 15px 15px 0 15px;
}
.text-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50rem;
  background-color: #dddddd;
  padding: 10px 20px 10px 20px;
  flex-wrap: wrap;
  height: 50px - 100px;
  border-radius: 15px 15px 15px 0;
}

.text-container p {
  font-size: 18px;
  color: #ffffff;
}
.text-container2 p {
  font-size: 18px;
  color: #0a0a0a;
}

.timestamp {
  display: flex;
}

.timestamp2 {
  display: flex;
  flex-direction: row-reverse;
}

.sender-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.receiver-container {
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: row-reverse;
}

.img-container img:hover {
  cursor: pointer;
}

.img-container img{
  width: 100px;
  margin-top: 15px;
  border-radius: 15px;
}

.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


.login-form {
  font-family: "Open Sans", sans-serif;
  width: 290px;
}

.login-form-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
  font-weight: bolder;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 30px;
}

.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #006bed;
}

.input:focus + .focus-input {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}


.input:focus + .focus-input {
  color: #006bed;
  padding-left: 28px;
}


.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.login-form-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #006bed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}


.err {
  font-size: 15px;
  margin-left: 3px;
  color: #ec0101;
}

.forgot-title {
  margin: 20px 0 10px 4px;
}

.forgot-email {
  color: #0a0a0a;
}


.alt-login-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  margin: 10px 0 10px 0;
}

.separater1 , .separater2{
  width: 9rem;
  height: 0.5px;
  background-color: #979797;
}

.or {
  margin: 0 4px 0 4px
}

.alt-providers {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.google-provider {
  width: 35px;
  height: 35px;
}

.google-provider img {
  width: 100%;
  height: 100%;
}


.google-provider img:hover {
  cursor: pointer;
}

.p-t-136 {
  display: flex;
  align-items: center;
}

.signIn-link {
  font-size: 13px;
  color: #006bed;
  font-weight: bold;
}

.signIn-link:hover {
  color: #00397e;
}